@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: orange;
  line-height: 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.logo {
  background-image: url("img/logo.png");
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  padding: 1% 0;
}

header ul {
  display: flex;
  list-style: none;
  color: white;
  justify-content: right;
}

header a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.container {
  height: 900px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-box {
  width: 50%;
  height: 700px;
}

.main-box:nth-child(1),.main-box:nth-child(4){
  display: flex;
  justify-content: center;
  background-color: #8fbc8f;
  z-index: 1;
  position: relative;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: orange;
  text-align: center;
  padding-top: 100px;
  animation: 1.0s cubic-bezier(.662,.115,.88,.1) infinite alternate;
  z-index: 5;
}

.circle h1 {
  font-family: "Kokoro",'Itim', cursive;
  margin-bottom: 20px;
}

.circle{ animation-name: bound; }

@keyframes bound {
	from  { transform: translateY(0vw) scale(1,1); }
	10%  { transform: translateY(0.2vw) scale(1,1); }
	20%  { transform: translateY(0.5vw) scale(1,1); }
	96%  { transform: translateY(26vw) scale(1,1); }
	97%  { transform: translateY(28vw) scale(0.9,1); }
	98%  { transform: translateY(29vw) scale(0.9,0.8); }
	99%  { transform: translateY(29.7vw) scale(1,0.5); }
	to { transform: translateY(30vw) scale(1,0.5); }
}

.line1 {
  background-color: aliceblue;
  z-index: 3;
  height: 100%;
  position: absolute;
  width: 10px;
}

.line2 {
  background-color: #cd853f;
  z-index: 3;
  height: 15px;
  position: absolute;
  width: 100%;
  top: 50%;
}


.main-box:nth-child(2),.main-box:nth-child(3){
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


th,td {
  border: solid 1px #777;
  padding: 1%;
  width: 100px;
  height: 80px;
}

th:nth-child(1){
  height: 50px;
}

h3 {
  margin-bottom: 50px;
}

.explanation1 {
  margin-bottom: 20px;
  font-size: small;
  margin-left: 40%;
  margin-top: 2px;
}

.explanation2 {
  font-size: small;
  margin-left: 40%;
  margin-top: 2px;
}

.racket-image {
  margin-top: 2%;
  background-image: url("img/racket.png");
  width: 590px;
  height: 690px;
  object-fit: fill;
  position: relative;
}

.racket-message {
  position: absolute;
  top: 200px;
  right: 90px;
  font-weight: bold;
  font-size: large;
}

#page_top{
  width: 50px;
  z-index: 15;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}