*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: orange;
  line-height: 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.logo {
  background-image: url("img/logo.png");
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  padding: 1% 0;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: right;
}

header li {
  margin-left: 20px;
}

.main-image {
  background-image: url("img/main.jpg");
  height: 900px;
  width: 100%;
  background-size: cover;
}