@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: orange;
  line-height: 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.logo {
  background-image: url("img/logo.png");
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  padding: 1% 0;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: right;
}

header li {
  margin-left: 20px;
}

.container {
  height: 900px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-box {
  width: 50%;
  height: 700px;
}

.main-box:nth-child(1){
  display: flex;
  justify-content: center;
  background-color: #8fbc8f;
  z-index: 1;
  position: relative;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: orange;
  text-align: center;
  padding-top: 100px;
  animation: 1.0s cubic-bezier(.662,.115,.88,.1) infinite alternate;
  z-index: 5;
}

.circle h1 {
  font-family: "Kokoro",'Itim', cursive;
  margin-bottom: 20px;
}

.circle{ animation-name: bound; }

@keyframes bound {
	from  { transform: translateY(0vw) scale(1,1); }
	10%  { transform: translateY(0.2vw) scale(1,1); }
	20%  { transform: translateY(0.5vw) scale(1,1); }
	96%  { transform: translateY(26vw) scale(1,1); }
	97%  { transform: translateY(28vw) scale(0.9,1); }
	98%  { transform: translateY(29vw) scale(0.9,0.8); }
	99%  { transform: translateY(29.7vw) scale(1,0.5); }
	to { transform: translateY(30vw) scale(1,0.5); }
}

.line1 {
  background-color: aliceblue;
  z-index: 3;
  height: 100%;
  position: absolute;
  width: 10px;
}

.line2 {
  background-color: #cd853f;
  z-index: 3;
  height: 15px;
  position: absolute;
  width: 100%;
  top: 50%;
}


.main-box:nth-child(2){
  background-color: antiquewhite;
}

.main-box:nth-child(3){
  background-color: antiquewhite;
}